<% include partials/header.ejs %>

<img src = <%= campground.image %>>
<div class="caption"><h4><%= campground.name %></h4></div>
<p><%= campground.description %></p>

<% include partials/footer.ejs %>